<footer>
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-6">

        </div><!--/col-->
        <div class="col-6">

        </div><!--/col-->
      </div><!--/row-->
    </div><!--/container-->
  </section>
  <section class="copyright">
    <div class="container">
      <p class="copy">&copy; 2014 Law Office of Steven Smedresman, P.C.</p>
      <p class="disclaimer"><a href="">Disclaimer</a> | Attorney Advertising. Prior results do not guarantee a similar outcome.</p>
    </div><!--/container-->
  </section>
</footer>

<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
{% javascript script %}
</body>
</html>
