<footer>
  <section class="contact" name="contact">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Contact us</h2>
        </div><!--/col-->
        <div class="col-6">
          <ul>
            <li><span>Toll Free:</span> <strong><a href="tel:1-888-571-5022">888.571.5022</a></strong></li>
            <li><span>Phone:</span> <strong><a href="tel:1-212-571-5022">212.571.5022</a></strong></li>
            <li><span>Fax:</span> <strong><a href="fax:1-212-619-3002">212.619.3002</a></strong></li>
            <li><span>Website:</span> <strong><a href="http://smedresmanlaw.com">smedresmanlaw.com</a></strong></li>
            <li><span>Email:</span> <strong><a href="mailto:&#115;&#109;&#101;&#100;&#114;&#101;&#115;&#109;&#097;&#110;&#108;&#097;&#119;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">smedresmanlaw@gmail.com</a></strong></li>
            <li><span>Address</span> <strong><a href="https://www.google.com/maps/place/41+Madison+Ave,+New+York,+NY+10010/@40.7424559,-73.9865916,17z/data=!3m1!4b1!4m2!3m1!1s0x89c259a6fb2c8397:0x5da1adbed3a26069">41 Madison Ave<br/>40th Floor<br/>New York, NY 10010</a></strong></li>
          </ul>
        </div><!--/col-->
        <div class="col-6">
          <form accept-charset="UTF-8" action="https://formkeep.com/f/904ace1816c2" method="POST">
            <input type="hidden" name="utf8" value="✓">
            <ul>
              <li><input type="text" name="name" placeholder="Name"></li>
              <li><input type="email" name="email" placeholder="Email"></li>
              <li><textarea name="message" placeholder="Your message"></textarea></li>
              <li><input type="submit" value="Send" class="btn btn-default"></li>
            </ul>
          </form>
        </div><!--/col-->
      </div><!--/row-->
    </div><!--/container-->
  </section>
  <section class="copyright clearfix">
    <div class="container">
      <p class="copy">&copy; 2014 Law Office of Steven Smedresman, P.C.</p>
      <p class="disclaimer"><a href="/disclaimer/">Disclaimer</a> | Attorney Advertising. Prior results do not guarantee a similar outcome.</p>
    </div><!--/container-->
  </section>
</footer>

<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
{% javascript script %}
</body>
</html>
