<footer>
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2>Contact us</h2>
          <ul>
            <li><span>Toll Free:</span> <strong>888.571.5022</strong></li>
            <li><span>Phone:</span> <strong>212.571.5022</strong></li>
            <li><span>Fax:</span> <strong>212.619.3002</strong></li>
            <li><span>Email:</span> <strong><a href="">smedresmanlaw@gmail.com</a></strong></li>
            <li><span>Address</span> <strong>41 Madison Ave<br/>40th Floor<br/>New York, NY 10010</strong></li>
          </ul>
        </div><!--/col-->
        <div class="col-6">
          <form>
            <ul>
              <li><input type="text" placeholder="Name"></li>
              <li><input type="email" placeholder="Email"></li>
              <li><textarea placeholder="Your message"></textarea></li>
              <li><a href="" class="btn btn-default">Send</a></li>
            </ul>
          </form>
        </div><!--/col-->
      </div><!--/row-->
    </div><!--/container-->
  </section>
  <section class="copyright">
    <div class="container">
      <p class="copy">&copy; 2014 Law Office of Steven Smedresman, P.C.</p>
      <p class="disclaimer"><a href="">Disclaimer</a> | Attorney Advertising. Prior results do not guarantee a similar outcome.</p>
    </div><!--/container-->
  </section>
</footer>

<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
{% javascript script %}
</body>
</html>
