@import "compass";
@import "ss-standard.css.scss";
@import "ss-social-circle.css.scss";
@import "ss-social-regular.css.scss";
@import "reset.css.scss";
@import "variables.css.scss";
@import "fontface.css.scss";
@import "typography.css.scss";
@import "grid.css.scss";
/* ========================================================= Main ===*/
html, body{
    background-color: #dadedf;
    background-color: #D8D8D8;
    color: #373737;
    font-family: 'Gotham Regular', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.45;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/* ========================================================= Header ===*/
/* ------
-- Nav --
------ */
header{
  background-color: #252429;
  height: 60px;
  h1{
    display: inline;
    font-size: 20px;
    margin: 0;
    a{
      color: #fff;
      display: inline-block;
      padding: 18px 0;
    }
  }
}
nav{
  float: right;
  margin: 18px 0px 0;
  ul{
    li{
      border-right: 1px solid #4f4f4f;
      float: left;
      a{
        color: #A6A6A6;
        font-size: 14px;
        padding: 10px 5px;
        &:hover{
          color: #fff;
        }
      }
      &:last-child{
        border: none;
      }
    }
  }
}
/* ========================================================= Home ===*/
.welcome{
  background-color: #252429;
  img{
    display: block;
    margin: 0 auto;
    padding: 250px 0;
  }
}
.intro{
  background-color: #968865;
  h2{
    color: #fff;
  }
}
.profile{
  background-color: #fff;
}
.areas{
  background-color: #968865;
}
.verdicts{

}
/* ========================================================= Form ===*/
.btn{
  padding: 5px 10px;
  text-align: center;
}
.btn-nanked{
  border: 1px solid #252429;
  border-radius: 3px;
}
/* ========================================================= Footer ===*/
footer{
  .contact{
    background-color: #252429;
  }
  .copyright{
    background-color: #19191C;
    color: #55535E;
    height: 60px;
    .copy{
      font-size: 12px;
      display: inline-block;
      margin: 25px 0 0;
    }
    .disclaimer{
      font-size: 12px;
      display: inline-block;
      float: right;
      margin: 25px 0 0;
      a{
        color: #55535E;
      }
    }
  }
}
/* ========================================================= Respond ===*/
@media all and (min-width: 41em){
  body{font-size: 1.125em;}
  .container{
    padding-left: 1em;
    padding-right: 1em;
  }
  .row{
    margin-left: -1em;
    margin-right: -1em;
  }
  .col-12 { width: 100%; }
  .col-9 { width: 75%; }
  .col-8 { width: 66.7%; }
  .col-6 { width: 50%; }
  .col-4 { width: 33.3%; }
  .col-3 { width: 25%; }
}
@media all and (min-width: 960px){

}
