@import "compass";
@import "ss-standard.css.scss";
@import "ss-social-circle.css.scss";
@import "ss-social-regular.css.scss";
@import "fontface.css.scss";
@import "variables.css.scss";
@import "reset.css.scss";
@import "typography.css.scss";
@import "grid.css.scss";
/* ========================================================= Main ===*/
html, body{
    background-color: #968865;
    color: #373737;
    font-family: 'Gotham Regular', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.45;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
section{
  padding: 80px 0;
}
/* ========================================================= Header ===*/
/* ------
-- Nav --
------ */
header{
  background-color: #252429;
  position: relative;
  z-index: 1941;
  h1{
    display: inline;
    font-size: 20px;
    margin: 0;
    a{
      color: #fff;
      display: inline-block;
      padding: 18px;
    }
  }
  .menu{
    color: #ddd;
    font-size: 1.414em;
    float: right;
    padding: 18px 20px 6px;
  }
}
nav{
  background-color: #1FBC9A;
  display: none;
  width: 100%;
  ul{
    li{
      border-bottom: 1px solid rgba(0,0,0,0.1);
      a{
        color: #ddd;
        display: block;
        padding: 15px;
        font-family: 'Gotham Bold', sans-serif;
        text-align: center;
        &:hover{
          color: #fff;
        }
        &:last-child{
          border: none;
        }
      }
    }
  }
}
/* ---------------
-- Notification --
--------------- */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.notification{
  background-color: rgba(52,152,219,0.7);
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  p{
    color: #ccc;
    margin: 0;
    line-height: 1;
    span{
      display: block;
      padding: 10px 0;
    }
    a{
      background-color: rgba(255,255,255,0.3);
      border-radius: 3px;
      color: #fff;
      display: block;
      padding: 10px;
      text-align: center;
    }
  }
}

/* ========================================================= Home ===*/
/* ----------
-- Welcome --
---------- */
.welcome{
  background-color: #1f1c1e;
  background-color: #121013;
  background-image: url(asset_path('home/hero5.jpg'));
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  img{
    display: block;
    margin: 0 auto;
    padding: 150px 10px;
  }
}
/* --------
-- Intro --
-------- */
.intro{
  background-color: #968865;
  h2{
    color: #fff;
    margin: 0 0 .5em;
  }
  .btn{
    display: block;
    margin: 0 auto;
    width: 150px;
  }
}
/* ----------
-- Profile --
---------- */
.profile{
  background-color: #fff;
  padding: 0;
  min-height: inherit;
  overflow: hidden;
  h2{
    color: #25272B;
  }
  img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
  }
  .row{
    padding: 57px 0;
  }
}
/* --------
-- Areas --
-------- */
.areas{
  background-color: #968865;
  img{
    display: block;
    margin: 0 auto;
  }
  h3{
    margin: 15px 0 30px;
    text-align: center;
  }
  .btn{
    display: block;
    margin: 30px auto 0;
    width: 200px;
  }
}
/* -----------
-- Verdicts --
----------- */
.verdicts{
  background-color: #dadedf;
  h2{
    color: #25272B;
  }
  .btn{
    display: block;
    margin: 0 auto;
    width: 175px;
  }
  .btn-white{
    margin: auto;
    width: auto;
  }
  h4{
    font-family: 'Gotham Book', sans-serif;
    font-size: 41px;
  }
}
/* ========================================================= Attorney ===*/
.attorney{
  h3{
    text-align: center;
  }
}
/* ========================================================= Practice Areas ===*/
.areas{
  img{
    display: block;
    margin: 0 auto;
  }
  h3{
    text-align: center;
  }
  hr{
    border-color: #6b6148;
  }
}
.area{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      margin: 0;
      padding: 0;
    }
  }
}
/* ========================================================= Verdicts & Settlements ===*/
.verdicts-settlements{
  h4{
    font-family: 'Gotham Book', sans-serif;
    font-size: 41px;
  }
  // a{
  //   color: #75f4d8;
  // }
}
/* ========================================================= Form ===*/
form{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      margin: 0;
      padding: 0;
    }
  }
  .btn{
    float: right;
  }
}
input[type=text], input[type=email], textarea{
  border: none;
  border-radius: 3px;
  margin: 0 0 10px;
  outline: none;
  padding: 10px;
  width: 100%;
}
input[type=submit]{
  border: none;
}
textarea{
  min-height: 150px;
}
.btn{
  border-radius: 3px;
  color: #252429;
  display: inline-block;
  font-family: 'Gotham Bold', sans-serif;
  font-size: 16px;
  padding: 15px 30px 13px;
  text-align: center;
  min-width: 175px;
  @include easein(.25s);
}
.btn-default{
  background-color: #1FBC9A;
  color: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  &:hover{
    background-color: #24deb5;
    color: #fff;
  }
}
.btn-naked{
  border: 1px solid #252429;
  &:hover{
    color: #373737;
    background-color: rgba(255,255,255,0.5);
  }
}
.btn-white{
  background-color: rgba(255,255,255,0.3);
  border: 1px solid rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.5);
  display: block;
  padding: 10px 20px 8px;
  &:hover{
    border: 1px solid rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.5);
    color: #373737;
  }
}
/* ========================================================= Footer ===*/
footer{
  .contact{
    background-color: #252429;
    h2{
      margin: 0 0 .5em;
    }
    ul{
      list-style: none;
      margin: 10px 0 20px;
      padding: 0;
      li{
        margin: 0;
        padding: 0;
        span{
          color: #777;
          display: inline-block;
          width: 100px;
          vertical-align: top;
        }
        strong{
          color: #A1A1A1;
          display: inline-block;
          a{
            color: #A1A1A1;
          }
        }
      }
    }
    form{
      ul{
        margin: 0;
      }
    }
  }
  .copyright{
    background-color: #19191C;
    color: #55535E;
    padding: .5em;
    .copy{
      font-size: 12px;
      display: inline-block;
      margin: 12px 0 0;
    }
    .disclaimer{
      font-size: 12px;
      display: inline-block;
      margin: 12px 0 0;
      a{
        color: #55535E;
      }
    }
  }
}
/* ========================================================= Respond ===*/
@media all and (min-width: 41em){
  body{font-size: 1.125em;}
  .container{
    padding-left: 1em;
    padding-right: 1em;
  }
  .row{
    margin-left: -1em;
    margin-right: -1em;
  }
  .col-12 { width: 100%; }
  .col-9 { width: 75%; }
  .col-8 { width: 66.7%; }
  .col-6 { width: 50%; }
  .col-4 { width: 33.3%; }
  .col-3 { width: 25%; }

  header{
    padding: 0.5em;
    h1{
      display: inline-block;
      margin: 10px 0 5px;
      a{
        padding: 0;
      }
    }
    .menu{
      display: none;
    }
  }
  /* -------------
  -- Navigation --
  ------------- */
  nav{
    background: none;
    display: inline-block;
    float: right;
    margin: 0;
    text-align: right;
    width: inherit;
    ul{
      li{
        border: none;
        float: left;
        a{
          color: #A6A6A6;
          font-family: inherit;
          font-size: 14px;
          padding: 14px 15px 4px;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }
  .notification{
    p{
      color: #ccc;
      margin: 0;
      line-height: 1;
      span{
        display: inline-block;
        padding: 10px 0;
      }
      a{
        float: right;
        padding: 10px;
      }
    }
  }
  .profile{
    min-height: 500px;
    img{
      opacity: 1;
    }
  }
  .disclaimer{
    float: right;
  }
}
@media all and (min-width: 960px){

}
